{% extends "base.html.twig" %}

{% block body %}
	<h1>Profil</h1>
	{#
		app : variable globale qui donne accès à certaines données de l'application
			user : accéder à l'utilisateur
			session : accéder à la session
			request : accéder à la requête http
	#}
	{# {{ dump(app.user.email) }} #}
{% endblock %}